<header>

    <nav>
        <div class="logo">
            <a href="">Healthy Food</a>
        </div>


        <div class="content">
            <div class="dropdown">

                <a href="">Dietas 
                   
             <fa-icon [icon]="faCaretDown"></fa-icon>
                     
                     
                     
                
                </a>

                <div class="dropdown-content">
                    <a href="">Fertilidad</a>
                    <a href="">Lactancia</a>
                    <a href="">Hipocalórica</a>
                    <a href="">Hipercalórica</a>
                    <a href="">Detox</a>
                    <a href="">Dash</a>
                    <a href="">Fitness</a>
                    <a href="">Vegana</a>
                    <a href="">Paleo</a>
                    <a href="">Vegetariana</a>
                </div>
            </div>
            <div>
                <a href="">Ayuda</a>

            </div>
        </div>
        <div class="mv">
            <input type="checkbox" id="menyAvPaa">
            <label id="burger" for="menyAvPaa">
                <div></div>
                <div></div>
                <div></div>
            </label>
            <div id="meny">
                <div><a>Dietas </a></div>
                <div><a>Ayuda</a></div>
            </div>

        </div>




    </nav>

</header>