<header>

    <nav>
        <span> <a href="">Healthy Food</a></span>

        <div class="dropdown">

            <a href="">Dietas</a>

            <div class="dropdown-content">
                <a href="">Fertilidad</a>
                <a href="">Lactancia</a>
                <a href="">Hipocalórica</a>
                <a href="">Hipercalórica</a>
                <a href="">Detox</a>
                <a href="">Dash</a>
                <a href="">Fitness</a>
                <a href="">Vegana</a>
                <a href="">Paleo</a>
                <a href="">Vegetariana</a>
            </div>
        </div>
        <div>
            <a href="">Ayuda</a>
            <input type="checkbox" id="menyAvPaa">
            <label id="burger" for="menyAvPaa">
                <div></div>
                <div></div>
                <div></div>
            </label>
          <nav id="meny">
           <div>Dietas</div>
           <div>Ayuda</div> 
          </nav>
        </div>

    



        
      
    </nav>

</header>