
// for width and height 
@mixin maxwh ($w, $h) {
    max-width: $w + vh;
    max-height: $h + em;
}

@mixin minwh($w, $h)  {
    min-width: $w + em;
    min-height: $h + em;   
}

@mixin linea(){

    
}
