
// for width and height 
@mixin maxwh ($w, $h) {
    max-width: $w + vh;
    max-height: $h + em;
}

@mixin minwh($w, $h)  {
    min-width: $w + em;
    min-height: $h + em;   
}
@mixin animate($animation,$duration,$method,$times){
    animation: $animation $duration $method $times;
}

@mixin keyframes($name){
    @keyframes #{$name}{
        @content;
    }
}


/* responsive desing */

@mixin mv($media: 480px ){

    @media screen and(max-width: $media){
        @content; 
    
}
}



