/* You can add global styles to this file, and also import other style files */

@import './mixins.scss';
@import './colors.scss';

*{
    border: 0px;
    margin: 0px;
}
body{

    background: $primary-color;
    filter: sepia(40%);
    background-blend-mode: darken;
    background-position: center;
    background-size: cover;
    max-width: 100vw;   
    min-height: 100vh;

}


